.info{
    text-align: center;
    font-size: 24px;
    padding: 40px;
    word-spacing: 10px;
    font-family: 'Red Rose', cursive;
    color: #d5b9b2;
    background-image: url("/Users/student_ga111/Desktop/Cassini /mod2/foodblog/foodblog/src/Images/background.html");
    background-size: 100%;
}