.navbar {
  background-color: #6d2e46! important;
}

.nav-link{
  color: #cebebe;
  font-family: 'red rose';
  font-size: 18px;
  font-weight: bolder;
  
}

.nav-link:hover{
  color: #ece2d0;
}


.homeContainer {
  background-color: #a26769 ;
  height: 150vh;
  /* background-image: url("/Users/student_ga111/Desktop/Cassini /mod2/foodblog/foodblog/src/Images/background.html");
  background-size: 100vh; */

}

.cardContainer{
  background-color: #6d2e46 ;
  padding: 20px;
  
}
.card{
  background-color: #a26769 ;
  padding: 10px;
  /* border: pink solid; */
  width: 40rem;
  /* left: 400px; */
  justify-content: center;
  margin-left: 30vw;
  
}

.foodImage{
  /* image-resolution: 100px; */
  padding: 20px;
}

.logo {
  background-color: #565676;
}

.card-title{
  font-weight: 400;
  font-family: 'Red Rose', cursive;
  letter-spacing: 5px;
  font-size: 30px;
}

.card-text{
  font-family: 'Red Rose', cursive;
  word-spacing: 10px;
  font-size: 18px;
}

.subscribe{
  background-color: #565676;
  height: 100vh;
}

.form-group{
  border: black solid 1px;
  padding: 20px;
  height: 20vh;
  width: 60vw;
  background-color: #6d2e46;
 margin-left: 20vw;
  
}

.btn{
  background-color: #6d2e46;
  margin-left: 20vw;
  border: black solid;
  font-family: 'red rose';
  width: 15vw;
}

.form-text{
  color: black;
}

.text-muted{
  color: black;
}