.navbar {
  background-color: #aeadf0! important;
}

.nav-link{
  color: #a76571;
  font-family: 'red rose';
  font-size: 18px;
  
}

.nav-link:hover{
  color: #565676;
}


.homeContainer {
  background-color: #565676 ;
  height: 100vh;
}

.cardContainer{
  background-color: #565676 ;
  
}
.card{
  background-color: #a76571 ;
  padding: 10px;
  /* border: pink solid; */
  width: 40rem;
  /* left: 400px; */
  justify-content: center;
  margin: 5px;
  
}

.foodImage{
  /* image-resolution: 100px; */
  padding: 20px;
}

.logo {
  background-color: #565676;
}

.card-title{
  font-weight: 400;
  font-family: 'Red Rose', cursive;
  letter-spacing: 5px;
  font-size: 30px;
}

.card-text{
  font-family: 'Red Rose', cursive;
  word-spacing: 10px;
  font-size: 18px;
}

.subscribe{
  background-color: #565676;
  height: 100vh;
}

.form-group{
  border: black solid 1px;
  padding: 20px;
  height: 20vh;
  width: 60vw;
  background-color: #a76571;
  
}

.form-text{
  color: black;
}

.text-muted{
  color: black;
}